{#
/**
 * @file
 * A layout for the checkout review collector form.
 *
 * Available variables:
 * - shop: The TrustedShops Shop.
 * - order: The Order.
 *
 * @ingroup themeable
 */
#}
<div class="commerce-trustedshops-review-collector" id="trustedShopsCheckout" style="display: none;">
    {# TrustedShops variables #}
    <span id="tsCheckoutOrderNr">{{ order.getOrderNumber }}</span>
    <span id="tsCheckoutBuyerEmail">{{ order.mail.value }}</span>
    <span id="tsCheckoutOrderAmount">{{ order.total_price.number|number_format(2, '.', '') }}</span>
    <span id="tsCheckoutOrderCurrency">{{ order.total_price.currency_code }}</span>
    <span id="tsCheckoutOrderPaymentType">{{ order.payment_gateway.entity.label }}</span>
    <span id="tsCheckoutOrderEstDeliveryDate">{{ order.placed.value|date_modify("+1 week")|date("Y-m-d") }}</span>
</div>
